body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: green;
    font-style: italic;
}

ul {
    margin: 0 0 2em;
    padding: 0;

    & li {
        display: grid;
        grid-template-columns: minmax(0, 4.5em) minmax(0, 1fr);
        padding: 1em;
        margin-bottom: 1em;
        border-radius: 0.5em;
        border: solid 0.05em black;

        & b {
            display: inline-block;
            min-width: 4em;
            padding-right: 0.5em;

            text-align: right;

            &::after {
                content: ':';
            }
        }
    }
}

form {
    & fieldset {
        padding: 1.5em 2em;
    }

    & label {
        display: block;
        width: 100%;

        & input {
            width: 100%;
            margin-bottom: 1em;
        }
    }
}

footer {
    color: green;

    font-style: italic;
    font-size: 0.64em;
}

.notification {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border-style: solid;

    background: lightgrey;

    font-size: 1em;

    &.error {
        color: red;
    }

    &.success {
        color: green;
    }
}