body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    color: green;
    font-style: italic;
}

ul {
    list-style: none;
    padding: 0;
    margin: 32px 0;

    & li {
        padding-bottom: 16px;
        margin-bottom: 8px;
        border-bottom: solid 1px black;
    }
}

form {
    & fieldset {
        padding: 1.5em 2em;
    }

    & label {
        display: block;
        width: 100%;

        & input {
            width: 100%;
            margin-bottom: 1em;
        }
    }
}

footer {
    color: green;

    font-style: italic;
    font-size: 0.64em;
}

.notification {
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 0.5em;
    border-style: solid;

    background: lightgrey;

    font-size: 1em;

    &.error {
        color: red;
    }

    &.success {
        color: green;
    }
}